/* Estilo geral */
body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo do componente Post */
.post {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.post-content {
  margin-bottom: 10px;
  color: #ccc;
}

.post-author {
  font-style: italic;
  color: #ccc;
}

/* Estilo do componente Componente3 */
.componente3 {
  background-color: #444;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.componente3 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.componente3 p {
  margin-bottom: 10px;
  color: #ccc;
}

/* Estilo do componente Componente5 */
.componente5 {
  margin-top: 40px;
}

.componente5 ul {
  list-style-type: none;
  padding: 0;
}

.componente5 li {
  margin-bottom: 5px;
  color: #ccc;
}

.comment-list {
  margin-top: 20px;
}

.comment-list h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.comment-list ul {
  list-style-type: none;
  padding: 0;
}

.comment-list li {
  margin-bottom: 5px;
  color: #ccc;
}

.comment-list {
  margin-top: 20px;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2f2f2f;
  border-radius: 5px;
}

.comment-author {
  margin-left: 10px;
  font-weight: bold;
}

.comment-text {
  margin-top: 5px;
  margin-left: 20px;
  color: #fdfdfd;
}

.comment-form h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.comment-form form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  resize: vertical;
}

.comment-form form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form form button:hover {
  background-color: #555;
}
